<nav>
    <div id="logo"><img src="/images/logo.png"></div>
    <div id="nav-links">
        <a class="nav-link" href="https://pb-corners.herokuapp.com/">Home</a>
        <% if (user) { %>
            <a class="nav-link" href="#">Your Profile</a>
            <a class="nav-link" href="/logout">Log out</a>
        <% } else { %>
            <a class="nav-link" href="/auth/google">Login</a>
        <% } %>
         
    </div>
</nav>