<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { title: 'Public Bathroom Corners'}) %>
<body>
    <%- include('./partials/nav.ejs') %>  
    <div class="search">
        <form class="search-btn" method="get" action="/test">
            <input id="search-bar" type="search" placeholder="Enter Address" name="q"required>
            <br />
            <input type="submit" value="Search Around Address">
        </form>
        <form class="search-btn" method="get">
            <input type="submit" value="Near Me">
        </form>
    </div>
</body>
</html>