@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body,html {
    height: 100%;
    width: 100%;
    background-color: #080809;
    text-align: center;
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
}
nav {
    background-color: #1B2413;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#logo {
    position: relative;
    margin: 0 auto;
    background-color: #5F6556;
    width: 220px;
 
    border-radius: 10px;
    display: inline;
}
.nav-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;    
}
.nav-link:hover {
    color: #080809;
    background-color: #5F6556;
}
#nav-links {
    align-self: flex-end;
}
.main-logo {
    margin-top: clamp(150px, 25vh, 200px);
}
.search {
    margin-top: 20px;
}
.search-btn {
    display: inline;
}
input[type=search] {
    width: 400px;
    height: 35px;
    font-size: 20px;
    border-radius: 25px;
    padding-left: 25px;
}
input[type=submit] {
    color: white;
    height: 30px;
    font-size: 16px;
    background-color: #433F3E;
    border: none;
    margin: 8px 15px;
    font-family: inherit;
}
input[type=submit]:hover {
    background-color: #292825;
}
#bathroom-info {
    background-color: #433F3E;
    color: white;
    margin: 100px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   
}
#bathroom-info a{
    color: white;
    font-size: 18px;
    margin: 0 auto;
}
.divider {
    width: 90%;
    border-bottom: 2px solid #292825;
    margin: 20px auto;
}
.comment-div {
    background-color: #292825;  
    width: 90%;
    margin: 15px auto;
    text-align: left;
    border-radius: 10px;
}
.comment-div h3 {
    
    padding-left: 60px;
    margin-bottom: 0;
}
.comment-div p {
    padding-left: 150px;
    padding-right: 20px;
}
.comment-div span {
    float: right;
    font-style: italic;
    padding-right: 30px;
    margin-bottom: 15px;
}
.review-div {
    width: 70%;
    background-color: #433F3E;
    border: 5px solid #292825;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 10px 10px 5px #5F6556;

}
.review-div h2 {
    margin-top: 10px;
    margin-bottom: 0;
}
.review-div h3 {
    margin-top: 0;
}
.review-div a {
    font-family: inherit;
    color: white;
    margin-left: 80%;
    background-color: #1B2413;
    font-size: 18px;
    padding: 8px;
}
.review-div a:hover {
    background-color: #5F6556;
}
.review-div span {
    display: block;
    font-style: italic;
}
#all-reviews-link {
    color: white;
    font-size: 18px;
    font-family: inherit;
}
.full-review-div {
    background-color: #433F3E;
    margin: 0 auto;
    width: 70%;
    max-width: 1300px;
    margin-top: 200px;
    padding: 20px;
}
.full-review-div p:last-of-type, .full-review-div p:nth-last-of-type(2){
    font-style: italic;
    font-size: 14px;
}

.full-review-div p {
    margin: 5px auto;
    font-size: 18px;
}
.full-review-div a {
    color: white;
    background-color: #5F6556;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
}
.full-review-div a:hover {
    background-color: #1B2413;
}
.bathroom-btn {
    text-align: right;
    margin-right: 5px;
    padding-bottom: 5px;
}
.bathroom-btn button {
    background-color: #5F6556;
    border: none;
    text-align: center;
}
.bathroom-btn button:hover {
    background-color: #1B2413;
}
.bathroom-btn img {
    width: 20px;
    filter: invert(1);
}
#photo {
    width: 90%;
}